
@import 'share';
.funcs-item{
	padding: 20px 10px 10px !important;
	background-color: #ffffff;
}
.funcs-item-icon {
	width: 36px !important;
	height: 40px !important;
}
.null-item{
	border: 0 !important;
}
.label {
	color: #0089ef;
}