
@import 'share';
.funcs-item{
	padding: 20px 10px 10px !important;
	background-color: #ffffff;
}
.funcs-item-icon {
	width: 50px !important;
	height: 50px !important;
}
.null-item{
	border: 0 !important;
}