page {
	background-color: #fff;
}
.wrapper {
}

.left {
	position: fixed;
	background-color: #f5f5f5;
	left:0;
	top: 0;
	bottom: 0;
	width: 120px;
	&.full {
		width: 100%;
	}
}

.right {
	margin-left: 120px;
}

.left,.right {
	.item {
		padding: 10px 15px;
	}
}
.left {
	.item{
		&.selected {
			background-color: #fff;
		}
	}
}
.right {
	.item{
		&.selected {
			background-color: #eee;
		}
	}
}