
@import 'share';
.funcs-item{
	padding: 20px 10px 10px !important;
	background-color: #ffffff;
}
.funcs-item-icon {
	width: 50px !important;
	height: 50px !important;
}

.x-calendar{
	background-color: #fff;
}
.x-calendar-head{
	display: flex;
	align-items: center;
	padding: 5px 0;
}

.x-calendar-title{
	flex: 1;
	text-align: center;
}
.x-calendar-body{

}
.x-calendar-day,.x-calendar-date-line{
	display: flex;
	align-items: center;
}
.x-calendar-day{}
.x-calendar-date-item, .x-calendar-day-item {
	flex: 1;
	text-align: center;
	padding: 5px 0;
	text{
		display: inline-block;
		width: 20px;
		height: 20px;
		padding: 5px;
		border-radius: 50%;
	}
	text.pre-month{
		color: #b6b6b6;
	}
	text.selected{
		background-color: #f00;
		color: #fff;
	}
}
.x-calendar-date{}
.x-calendar-date-line{}
.c-modal{
	.i-modal-main{
		width: 100% !important;
		height: 100% !important;
	}
	
	.i-modal-content {
		border-radius: 0;
	}
}
